.checkbox-group
	position relative
	display block
	cursor pointer

	&__input
		position absolute
		left -99999px

	&__label
		position relative
		padding-left 30px
		display block
		line-height 1.25

		font-family $font-family-primary
		font-size 21px
		font-weight 700
		color $font-color-quaternary

		user-select none

		&::before
			sprite $checkbox_empty
			content ''

			position absolute
			top 4px
			left 4px

		&::after
			sprite $checkbox_checked
			content ''

			position absolute
			top -6px
			left 7px

			opacity 0
			transition all ease .3s
			transform scale(1.5)

	&__input:checked + &__label::after
		opacity 1
		transform scale(1)
