.input-group
	display flex
	align-items flex-end
	margin-bottom 5px

	&__label
		display block
		text-align left
		white-space nowrap

		font-family $font-family-primary
		font-size 22px
		font-weight 700
		color $font-color-primary

		margin-right 15px
		padding-bottom 4px

	&__input
		display inline-block
		text-align left

		background-color transparent
		background-image url('../images/line.png')
		background-repeat no-repeat
		background-position 0 26px
		background-size cover
		border none
		outline none

		font-family $font-family-secondary
		font-size 30px
		font-weight 400
		color $font-color-secondary

		padding 15px 15px 8px
		width 100%
		line-height 1.2

	&_short > &__input
		width 210px

@media (max-device-width: 768px)
	.input-group
		display block

		&__label
			margin-right 0
			padding-bottom 0

		&__input
			display block
			width 100%

			background-position 0 15px

			font-size 18px

			padding-x(0)

		&_short > &__input
			width 210px
