@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/pt-sans_regular.eot');
	src: local('☺'),
    url('../fonts/pt-sans_regular.woff') format('woff'),
    url('../fonts/pt-sans_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/pt-sans_bold.eot');
	src: local('☺'),
    url('../fonts/pt-sans_bold.woff') format('woff'),
    url('../fonts/pt-sans_bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Courier New';
	src: url('../fonts/courier-new.eot');
	src: local('☺'),
    url('../fonts/courier-new.woff') format('woff'),
    url('../fonts/courier-new.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
