$body-bg-color = #797979

$font-size-normal = 16px

$font-family-primary = 'PT Sans', sans-serif
$font-family-secondary = 'Courier New', serif

$font-color-primary = #2e1a15
$font-color-secondary = #231f20
$font-color-tertiary = #3d3d3d
$font-color-quaternary = #000
