.main
	display block

	&__section
		&_personal-data
			margin-bottom 60px

	&__content
		display block

	&__title
		display block
		line-height 1.5

		font-family $font-family-primary
		font-size 24px
		font-weight 700
		color $font-color-primary


	&__description
		display block
		line-height 1.5

		font-family $font-family-primary
		font-size 15px
		font-weight 400
		color $font-color-tertiary
