.main
	display block

	&__section
		&_personal-data
			margin-bottom 60px

		&_skills
			clearfix()

	&__content
		display block

		&_skills
			margin-top 25px

	&__title
		margin-bottom 10px
		display block
		line-height 1.5

		font-family $font-family-primary
		font-size 24px
		font-weight 700
		color $font-color-primary


	&__description
		display block
		line-height 1.5

		font-family $font-family-primary
		font-size 15px
		font-weight 400
		color $font-color-tertiary
