extends /blocks/layout/layout

include /blocks/page/page

include /blocks/header/header
include /blocks/main/main
include /blocks/main/section/section
include /blocks/main/title/title
include /blocks/main/description/description
include /blocks/main/content/content
include /blocks/skills/skills
include /blocks/plan/plan

include /blocks/input-group/input-group
include /blocks/checkbox-group/checkbox-group
include /blocks/radio-group/radio-group
include /blocks/js-level/js-level
include /blocks/text-area/text-area

block head
	- var pageTitle = 'Kirill Yakushev';

block content
	+page
		+header
		+main
			form
				+section._personal-data
					+content
						+input-group('Полное ФИО', 'text', 'Якушев Кирилл Николаевич')
						+input-group('Год рождения', 'number', '1991')
						+input-group('Место жительства', 'text', 'Октябрьский, РБ')
						+input-group('Скайп', 'text', 'yakushev.k')
						+input-group('Почта', 'email', 'k.n.yakushev@gmail.com')

				+section._skills
					+title
						| Расскажите о себе чекбоксами
					+description
						| Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
					+content._skills
						+skills
							+e.SPAN.skill
								+checkbox-group('БЭМ/OOCSS', true)
							+e.SPAN.skill
								+checkbox-group('Pug (Jade)', true)
							+e.SPAN.skill
								+checkbox-group('Stylys/LESS/SASS', true)
							+e.SPAN.skill
								+checkbox-group('Работаю с SVG', false)
							+e.SPAN.skill
								+checkbox-group('Верстаю семантично', false)
							+e.SPAN.skill
								+checkbox-group('Accessibility (A11Y)', false)
							+e.SPAN.skill
								+checkbox-group('ES2015/ES2016', true)
						+skills
							+e.SPAN.skill
								+checkbox-group('Gulp/GRUNT', true)
							+e.SPAN.skill
								+checkbox-group('Webpack', true)
							+e.SPAN.skill
								+checkbox-group('Дружу с WebGL', false)
							+e.SPAN.skill
								+checkbox-group('jQuery', true)
							+e.SPAN.skill
								+checkbox-group('Знаю/изучаю Angular', false)
							+e.SPAN.skill
								+checkbox-group('Знаю/изучаю React', true)
							+e.SPAN.skill
								+checkbox-group('Знаю/изучаю Node.js', true)
						+skills
							+e.SPAN.skill
								+checkbox-group('Использую Git', true)
							+e.SPAN.skill
								+checkbox-group('С глазомером все ок', true)
							+e.SPAN.skill
								+checkbox-group
									+e.INPUT.input(type='checkbox' checked)
									+e.SPAN.label
										| Читаю
										a(href='#' target='_blank') blog csssr.ru
							+e.SPAN.skill
								+checkbox-group('Я ленивый(-ая)', true)
							+e.SPAN.skill
								+checkbox-group('У меня хороший английский', false)

				+section._js-level
					+title
						| Уровень владения JavaScript
					+js-level(1)

				+section._about
					+title
						| Расскажите о себе словами
					+description
						| Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
					+text-area._top-30
						|

				+section._plans
					+title
						| Какие у вас планы на будущее?
					+description
						| Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
					+content
						+plan
							+e.SPAN.item
								+radio-group('Верстать', 'plans')
							+e.SPAN.item
								+radio-group('Прокачиваться в JS', 'plans', true)
							+e.SPAN.item
								+radio-group('Менеджерство', 'plans')
							+e.SPAN.item
								+radio-group('Другое', 'plans')

				+section._date
					+content
						+input-group('Дата заполнения', 'text', '06.09.2017')._short
