extends /blocks/layout/layout

include /blocks/page/page

include /blocks/header/header
include /blocks/main/main

block head
	- var pageTitle = 'Kirill Yakushev - CSSSR';

block content
	+page
		+header
		+main
