extends /blocks/layout/layout

include /blocks/page/page

include /blocks/header/header
include /blocks/main/main
include /blocks/main/section/section

include /blocks/input-group/input-group

block head
	- var pageTitle = 'Kirill Yakushev - CSSSR';

block content
	+page
		+header
		+main
			form
				+section.foo
					+input-group('Полное ФИО', 'text', 'Якушев Кирилл Николаевич')
					+input-group('Год рождения', 'number', '1991')
					+input-group('Место жительства', 'text', 'Октябрьский, РБ')
					+input-group('Скайп', 'text', 'yakushev.k')
					+input-group('Почта', 'email', 'k.n.yakushev@gmail.com')
