.text-area
	display block
	width 100%
	min-height 180px
	font-family $font-family-secondary
	font-size 30px
	font-weight 100
	line-height 2
	resize none
	background-color transparent
	background-image url('../images/line.png')
	background-position 0 20px
	border none

.js-text-area

	&_top-30
		margin-top 10px

@media (max-device-width: 768px)
	.text-area
		font-size 18px

		background-image url('../images/line-mobile.png')
		background-position 0 15px
