.header
	display block

	position relative

.title
	text-align center

	padding-y(25px)

.stamp
	position absolute
	top -15px
	right -55px

@media (max-device-width: 768px)
	.logo
		width 100px

		& img
			width 100%

	.stamp
		width 100px
		top 0
		right 0

		& img
			width 100%

	.title

		& img
			width 100px
