.js-level
	display block

	&__js-slider
		position relative
		margin-top 40px
		padding-bottom 100px
		display block
		height 5px

		background-image url('../images/line.png')
		background-repeat no-repeat
		background-position-y -27px
		background-size 100%

		& .noUi-marker
			position absolute
			top 1px
			width 3px
			height 26px

			background-image url('../images/common-pip.png')
			background-repeat no-repeat
			background-position -8px 0

			&.firstPipNode
				background-image url('../images/first-pip.png')
				background-position -1px 0

			&.lastPipNode
				background-image url('../images/last-pip.png')
				background-position -8px 0
				transform translateX(-2px)

		& .noUi-value
			position absolute
			margin-top 30px
			max-width 200px

			font-family $font-family-primary
			font-size 13px
			font-weight 700
			line-height 1.5

			&:last-child
				transform translateX(-100%)
				white-space nowrap

		& .noUi-origin
			position absolute
			top -20px
			transform translateX(-50%)

		& .noUi-handle
			position relative
			background-image url('../images/triangle.png')
			background-repeat no-repeat
			size 18px 16px
